 /* HABILIDADES */
    
    
 .Conn {
    text-align: none;
    }
    
    .titulo {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    }
    
    .imgCodigo {
    width: 25px;
    height: 25px;
    position: relative;
    left: 1rem;
    top: 1.5rem;
    }
    
    .imgGoogle {
    width: 25px;
    height: 25px;
    position: relative;
    left: 1rem;
    top: 1.5rem;
    }
    
    
    
    h4 {
    margin-left: 3rem;
    font-weight: 500;
    margin-bottom: 0px;
    }
    
    .lista ul {
    margin-left: 3rem;
    text-rendering: optimizeLegibility;
    margin-top: 0px;
    
    }
    
    
    .Cont {
    width: 60%;
    max-height: 100%
    }
    
    .divMejoras {
    margin-left: 10px;
    margin-top: 3rem;
    }
    
    .colImg { 
    height: 0px;
    }
    
    
    
    .section_Habi {
    margin-left: 10px;
    margin-top: 3rem;
    border: dotted;
    }
    
    
    
    /* Columna dos  */
    
    .imgHabi{
    position: relative;
    left: 42rem;
    bottom: 31rem;
    }